body{
    background-color: lightgray;
    font-family: sans-serif;
}
.container{
    box-sizing: border-box;
    width: 500px;
    height: 450px;
    background-color: #fff;
    margin-top: 80px;
    margin: auto;
    padding: 25px 0;
    box-shadow: 0 0 15px #8c8f8c;
}
.logo{
    width: 150px;
    display: block;
    margin: auto;
    border: 2px dotted gray;
    border-radius: 1%;
}
.title{
    width: 160px;
    margin: 25px auto;
    font-size: 25px;
    border-bottom: 5px solid lightgray;
    color: #4c4d4c;
}
.desc{
    text-align: center;
}
.social{
    height: 60px;
    background-color: lightgray;
    text-align: center;
    color: #4c4d4c;
}
.social img{
    width: 40px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 10px;
}